<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="customer-template">
<body>
<section layout:fragment="content" class="section-home-slider">
    <div class="layout-account">
        <div class="container">
            <div class="wrapbox-content-account">
                <div id="customer-login" class="customers_accountForm customer_login">
                    <div class="tab-form-account d-flex align-items-center justify-content-center">
                        <h4 class="active">
                            <a th:href="@{/login}">Đăng nhập</a>
                        </h4>
                        <h4 >
                            <a th:href="@{/register}">Đăng ký</a>
                        </h4>
                    </div>
                    <div id="login">
                        <form method="post" th:action="@{/forgot-password}" class="customer_login">
                            <div class="mb-3">
                                <div class=" input-group mb-4" data-bs-toggle="tooltip" data-bs-placement="top"
                                     title="Một email với đường dẫn xác nhận sẽ được gửi đến địa chỉ email này.">
                                    <div class="input-group-text p-3">
                                        <i class="bi bi-envelope-at-fill"></i>
                                    </div>
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                                        <label for="email">Email</label>
                                    </div>
                                </div>

                                <div class="clearfix custommer_account_action">
                                    <div class="action_bottom button">
                                        <input class="button btn-signin" type="submit" value="Gửi yêu cầu">
                                    </div>
                                    <div class="req_pass">
                                        <p>Bạn chưa có tài khoản?<a th:href="@{/register}" title="Đăng ký"> Đăng ký</a></p>
                                        <p>Đã có tài khoản?<a th:href="@{/login}" title="Đăng nhập"> Đăng nhập</a></p>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
