<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en" layout:decorate="customer-template">
<body>
<section layout:fragment="content" class="section-home-slider">
    <div class="layout-account">
        <div class="container">
            <div class="wrapbox-content-account">
                <div id="customer-login" class="customers_accountForm customer_login">
                    <div class="tab-form-account d-flex align-items-center justify-content-center">
                        <h4>
                            <a th:href="@{/login}">Đăng nhập</a>
                        </h4>
                        <h4>
                            <a th:href="@{/register}">Đăng ký</a>
                        </h4>
                    </div>
                    <div id="login">
                        <form method="post" th:object="${resetPasswordDTO}" th:action="@{/reset-password}" class="customer_login">
                            <input type="hidden" th:field="*{token}">
                            <div class="input-group mb-3">
                                <div th:replace="fragments/input :: customInput('password', 'password', 'bi-key', 'Mật khẩu', true)"></div>
                            </div>
                            <div class="input-group mb-3">
                                <div th:replace="fragments/input :: customInput('confirmPassword', 'password', 'bi-key', 'Nhập lại mật khẩu', true)"></div>
                            </div>
                            <div th:replace="fragments/recapcha :: recapcha"></div>
                            <span class="text-danger" th:if="${#fields.hasErrors('recaptchaResponse')}" th:errors="*{recaptchaResponse}"></span>
                            <div class="clearfix custommer_account_action">
                                <div class="action_bottom button">
                                    <input class="button btn-signin" type="submit" value="Đặt lại mật khẩu">
                                </div>
                                <div class="req_pass">
                                    <p>Bạn đã có tài khoản?<a th:href="@{/login}" title="Đăng ký"> Đăng nhập</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
