<!DOCTYPE html>
<html lang="en" layout:decorate="customer-template" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<body>
<section layout:fragment="content">

    <h1 th:text="${message}"></h1>

    <script>
        setTimeout(function () {
            window.location.href = "/orders";
        }, 3000);

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>


</section>
</body>
</html>
