<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="vi" layout:decorate="admin-template">

<body>
<section layout:fragment="content" class="container mt-4">
    <div class="row justify-content-center h-100">
        <div class="col-lg-8 d-flex flex-column nowrap justify-content-center">
            <form th:action="@{/admin/staff/add}" method="post"
                  class="p-md-4 border rounded shadow-sm">
                <h4 class="text-center mb-5">Thêm mới nhân viên</h4>
                <div class="mb-3">
                    <div class=" input-group mb-4" data-bs-toggle="tooltip" data-bs-placement="top"
                         title="Một email với đường dẫn xác nhận sẽ được gửi đến địa chỉ email này.">
                        <div class="input-group-text p-3">
                            <i class="bi bi-envelope-at-fill"></i>
                        </div>
                        <div class="form-floating">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-person-plus-fill"></i>
                    Thêm mới
                </button>
                <a th:href="@{/admin/staff}" class="btn btn-secondary">Quay lại</a>
            </form>
        </div>
    </div>
</section>
</body>
</html>
