<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="vi" layout:decorate="admin-template">

<body>
<section layout:fragment="content" class="container mt-4">
    <div class="row justify-content-center h-100">
        <div class="col-lg-8 d-flex flex-column nowrap justify-content-center">
            <form th:action="@{/admin/customer/detail}" th:object="${userDTO}"
                  class="p-md-4 border rounded shadow-sm">
                <h4 class="text-center mb-5">Chi tiết nhân viên</h4>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('username', 'text', 'bi-tag', 'Họ và tên', true)"></div>
                </div>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('firstName', 'text', 'bi-justify', 'Tên', true)"></div>
                </div>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('lastName', 'text', 'bi-justify', 'Họ', true)"></div>
                </div>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('email', 'text', 'bi-envelope', 'Email', true)"></div>
                </div>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('phone', 'text', 'bi-telephone', 'Số điện thoại', true)"></div>
                </div>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('birthday', 'text', 'bi-calendar', 'Ngày sinh', true)"></div>
                </div>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('address', 'text', 'bi-geo-alt-fill', 'Địa chỉ', true)"></div>
                </div>

                <div class="mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Ảnh đại diện</h5>
                        </div>
                        <div class="card-body">
                            <img th:src="@{'/' + ${userDTO.avatar}}" class="card-img-top" alt="..." style="width: 100px">
                        </div>


                    </div>
                </div>

                <div class="text-center">
                    <a th:href="@{/admin/staff/list}" class="btn btn-secondary">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
