<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="vi" layout:decorate="admin-template">

<body>
<section layout:fragment="content" class="container mt-4">
    <div class="row justify-content-center h-100">
        <div class="col-lg-8 d-flex flex-column nowrap justify-content-center">
            <form th:action="@{/templates/admin/customer-address/add}" th:object="${customerAddressDTO}" method="post"
                  class="p-md-4 border rounded shadow-sm">
                <h4 class="text-center mb-5">Thêm mới địa chỉ khách hàng</h4>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('fullName', 'text', 'bi-tag', 'Họ và tên', true)"></div>
                </div>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('address', 'text', 'bi-geo-alt', 'Địa chỉ', true)"></div>
                </div>

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('phone', 'text', 'bi-telephone', 'Số điện thoại', true)"></div>
                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Lưu
                    </button>
                    <a th:href="@{/templates/admin/customer-address/list}" class="btn btn-secondary">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
