<footer class="mainFooter" th:fragment="footer">
    <div class="footer-container">
        <div class="footer-expand-title">
            <p>
                Thông tin thêm
                <span class="arrow-up">
					<svg height="22" viewBox="0 0 128 128" width="22" x="0" xmlns="http://www.w3.org/2000/svg" y="0"><g><path
                            d="m64 88c-1.023 0-2.047-.391-2.828-1.172l-40-40c-1.563-1.563-1.563-4.094 0-5.656s4.094-1.563 5.656 0l37.172 37.172 37.172-37.172c1.563-1.563 4.094-1.563 5.656 0s1.563 4.094 0 5.656l-40 40c-.781.781-1.805 1.172-2.828 1.172z"></path></g></svg>
				</span>
            </p>
        </div>
        <div class="footer-expand-collapsed ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 widget-footer">
                        <h2 class="widget-footer__title">
                            Hệ thống quần áo trực tuyến OCOPS
                        </h2>
                        <div class="widget-footer__content block-collapse">
                            <div class="content-info">
                                <p>
                                    Hệ thống quần áo trực tuyến OCOPS chuyên cung cấp các sản phẩm quần áo nam, nữ, trẻ em chất lượng cao, giá cả hợp lý, mẫu mã đa dạng, phong phú.
                                </p>
                                <ul class="footerNav-social">
                                    <li>
                                        <a aria-label="Facebook" href="https://www.facebook.com/Torano.vn" rel="noopener"
                                           target="_blank" title="Facebook">
                                           <i class="bi bi-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a aria-label="Instagram" href="https://www.instagram.com/torano.vn/" rel="noopener"
                                           target="_blank" title="Instagram">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a aria-label="TikTok" href="https://www.tiktok.com/@torano.vn" rel="noopener"
                                           target="_blank" title="TikTok">
                                            <i class="bi bi-tiktok"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a aria-label="Youtube" href="https://www.youtube.com/@torano1287" rel="noopener"
                                           target="_blank" title="Youtube">
                                            <i class="bi bi-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 widget-footer">
                        <h2 class="widget-footer__title">Thông tin liên hệ</h2>
                        <div class="widget-footer__content block-collapse">
                            <div class="address-footer">
                                <ul>
                                    <li class="contact-1"><b>Địa chỉ:</b> số ... đường ... quận ... thành phố ...
                                    </li>
                                    <li class="contact-2"><b>Điện thoại:</b> 0123456789</li>
                                    <li class="contact-3"><b>Fax:</b> 0123456789</li>
                                    <li class="contact-4"><b>Email:</b> cskh@example.vn</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 widget-footer">
                        <h2 class="widget-footer__title">
                            Danh sách trang tĩnh
                        </h2>
                        <div class="widget-footer__content block-collapse">
                            <ul class="footerNav-link">
                                <li class="item">
                                    <a href="/search" title="Tìm kiếm">Tìm kiếm</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/about-us" title="Giới thiệu">Giới thiệu</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/chinh-sach-doi-tra" title="Chính sách đổi trả">Chính sách đổi
                                        trả</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/chinh-sach-bao-mat" title="Chính sách bảo mật">Chính sách bảo
                                        mật</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/dieu-khoan-dich-vu" title="Tuyển dụng">Tuyển dụng</a>
                                </li>
                                <li class="item">
                                    <a href="/pages/lien-he" title="Liên hệ">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-12 col-12 widget-footer widget-footer-newsletter">
                        <h2 class="widget-footer__title">
                            Giấy phép kinh doanh
                        </h2>
                        <div class="widget-footer__content block-collapse">
                            <p>
                                Công ty TNHH XYZ
                                <br>Mã số thuế: xxxxxxxx
                                <br>Giấy phép kinh doanh số xxxxx cấp ngày xx/xx/xxxx
                                <br>Do Sở Kế hoạch và Đầu tư thành phố XXX cấp
                            </p>
                            <p>
                                Địa chỉ: Số xx, đường xxx, phường xxx, quận xxx, TP.xxx
                                <br>Người đại diện pháp luật: Nguyễn Văn A
                                <br>Lĩnh vực kinh doanh: Bán lẻ thời trang & phụ kiện
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center">
                <div class="container">
                    <p>Copyright © <script>document.write(new Date().getFullYear())</script> <a th:href="@{/}">OCOPS</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>