<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="mainHeader--height" style="min-height: 73.9583px;" th:fragment="header">
    <div class="mainHeader mainHeader_temp01 mainHeader-product" id="main-header">
        <div class="mainHeader-middle">
            <div class="container">
                <div class="flex-container-header">
                    <div class="header-wrap-iconav header-wrap-actions">
                        <div class="header-action">
                            <div class="header-action-item header-action_menu js-act-sitenav" data-id="#js-sitenav-menu">
                                <div class="header-action_text">
                                    <button class="header-action__link" id="site-menu-handle" aria-label="Menu" title="Menu">
                                        <i class="bi fs-5 fw-bold  bi-list"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header-wrap-logo">
                        <div class="wrap-logo" itemscope="" itemtype="http://schema.org/Organization">
                            <a th:href="@{/}" itemprop="url">
                                <img itemprop="logo" th:src="@{/images/logo.png}" alt="OCOPS" class="img-responsive logoimg ls-is-cached lazyloaded">
                            </a>
                        </div>
                    </div>

                    <div class="header-wrap-menu">
                        <nav class="navbar-mainmenu">
                            <ul class="menuList-main">
                                <li class="has-submenu" th:each="category : ${categories}">
                                    <a th:href="@{'/category/' + ${category.id}}" th:title="${category.name}">
                                        <span th:text="${category.name}"></span>
                                        <i class="bi fs-5 fw-bold  bi-chevron-down"></i>
                                    </a>
                                    <ul class="menuList-submain">
                                        <li th:each="sub : ${category.subCategories}">
                                            <a th:href="@{'/category/' + ${sub.id}}" th:title="${sub.name}">
                                                <span th:text="${sub.name}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>


                    <div class="header-wrap-actions">
                        <div class="header-action">
                            <div class="header-action-item header-action_search search-desktop activeSearchChecked d-none d-lg-block">
                                <div class="header-action_text">
                                    <a class="header-action__link" id="site-search-handle" aria-label="Tìm kiếm" title="Tìm kiếm" th:href="@{/search}">
										<span class="box-icon">
											<i class="bi fs-5 fw-bold  bi-search"></i>
										</span>
                                    </a>
                                </div>
                            </div>
                            <div class="header-action-item header-action_account">
                                <div class="header-action_text">
                                    <a class="header-action__link  header-action_clicked " id="site-account-handle" aria-label="Tài khoản" title="Tài khoản" th:href="@{/account}">
										<span class="box-icon">
                                            <i class="bi fs-5 fw-bold  bi-person"></i>
										</span>
                                    </a>
                                </div>
                            </div>
                            <div class="header-action-item header-action_cart js-sitenav-cart js-act-sitenav show-mb"  data-id="#js-sitenav-cart">
                                <div class="header-action_text">
                                    <a class="header-action__link" id="site-cart-handle" aria-label="Giỏ hàng" title="Giỏ hàng" th:href="@{/cart}">
										<span class="box-icon">
                                            <i class="bi fs-5 fw-bold  bi-cart"></i>
											<span class="count-holder">
												<span class="count">0</span>
											</span>
										</span>
                                    </a>
                                </div>
                            </div>
                            <div class="header-action-item header-action_notification">
                                <div class="header-action_text">
                                    <a class="header-action__link" id="site-notification-handle" aria-label="Thông báo" title="Thông báo" th:href="@{/notification}">
                                        <span class="box-icon">
                                            <i class="bi fs-5 fw-bold  bi-bell"></i>
                                            <span class="count-holder">
                                                <span class="count">0</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>