<div class="sitenav-wrapper sitenav-left sitenav-menu js-ajax-menu" id="js-sitenav-menu" th:fragment="sidebar">
    <div class="sitenav-inner">
        <div class="sitenav-header">
            <p class="sitenav-header__title">Danh mục</p>
            <a name="button-close" class="sitenav-header__btn btn-sitenav-close">
                <svg viewBox="0 0 19 19" role="presentation"><path d="M9.1923882 8.39339828l7.7781745-7.7781746 1.4142136 1.41421357-7.7781746 7.77817459 7.7781746 7.77817456L16.9705627 19l-7.7781745-7.7781746L1.41421356 19 0 17.5857864l7.7781746-7.77817456L0 2.02943725 1.41421356.61522369 9.1923882 8.39339828z" fill-rule="evenodd"></path></svg>
            </a>
        </div>
        <div class="sitenav-content">
            <div class="menu-mobile--wrap ajax-render-mainmenu"><ul class="menuList-links">


                <li class=""><a href="/collections/new-1" title="Sản phẩm mới"><span>Sản phẩm mới</span></a></li>



                <li class=""><a href="/collections/onsale" title="Sale"><span>Sale</span></a></li>



                <li class="has-submenu level0 ">
                    <a href="/collections/ao-nam" title="Áo nam">Áo nam <span class="icon-plus-submenu plus-nClick1"></span></a>
                    <ul class="submenu-links">


                        <li><a href="/collections/ao-khoac" title="Áo Khoác">Áo Khoác</a></li>



                        <li><a href="/collections/bo-ni" title="Áo - Quần Nỉ">Áo - Quần Nỉ</a></li>



                        <li><a href="/collections/ao-len" title="Áo Len">Áo Len</a></li>



                        <li><a href="/collections/ao-so-mi" title="Áo Sơ Mi">Áo Sơ Mi</a></li>



                        <li><a href="/collections/ao-polo" title="Áo Polo">Áo Polo</a></li>



                        <li><a href="/collections/ao-thun" title="Áo Thun">Áo Thun</a></li>



                        <li><a href="/collections/ao-blazer" title="Áo Blazer">Áo Blazer</a></li>


                    </ul>
                </li>



                <li class="has-submenu level0 ">
                    <a href="/collections/quan-nam" title="Quần nam">Quần nam <span class="icon-plus-submenu plus-nClick1"></span></a>
                    <ul class="submenu-links">


                        <li><a href="/collections/quan-au" title="Quần Âu">Quần Âu</a></li>



                        <li><a href="/collections/quan-jeans" title="Quần Jeans">Quần Jeans</a></li>



                        <li><a href="/collections/quan-dai-kaki" title="Quần Dài Kaki">Quần Dài Kaki</a></li>



                        <li><a href="/collections/quan-short" title="Quần Short">Quần Short</a></li>


                    </ul>
                </li>



                <li class="has-submenu level0 ">
                    <a href="/" title="Bộ sưu tập">Bộ sưu tập <span class="icon-plus-submenu plus-nClick1"></span></a>
                    <ul class="submenu-links">


                        <li class="has-submenu level1">
                            <a href="https://torano.vn/">2023  <span class="icon-plus-submenu plus-nClick2"></span></a>
                            <ul class="submenu-links">

                                <li class=""><a href="https://collection.torano.vn/horseback" title="HORSEBACK">HORSEBACK</a></li>

                                <li class=""><a href="https://collection.torano.vn/metropolife" title="Metropolife">Metropolife</a></li>

                            </ul>
                        </li>



                        <li class="has-submenu level1">
                            <a href="https://torano.vn/">2022  <span class="icon-plus-submenu plus-nClick2"></span></a>
                            <ul class="submenu-links">

                                <li class=""><a href="https://collection.torano.vn/tettronyeuthuong" title="Tết trọn yêu thương">Tết trọn yêu thương</a></li>

                                <li class=""><a href="https://collection.torano.vn/mentime" title="Mentime Holiday Collection">Mentime Holiday Collection</a></li>

                                <li class=""><a href="https://collection.torano.vn/speedup" title="Speed Up">Speed Up</a></li>

                                <li class=""><a href="https://collection.torano.vn/recharge" title="RECHARGE">RECHARGE</a></li>

                                <li class=""><a href="https://collection.torano.vn/vibrancy" title="VIBRANCY">VIBRANCY</a></li>

                            </ul>
                        </li>



                        <li class="has-submenu level1">
                            <a href="https://torano.vn/">2021  <span class="icon-plus-submenu plus-nClick2"></span></a>
                            <ul class="submenu-links">

                                <li class=""><a href="https://collection.torano.vn/viaggio-kimly" title="VIAGGIO">VIAGGIO</a></li>

                                <li class=""><a href="https://collection.torano.vn/cheers" title="CHEER">CHEER</a></li>

                                <li class=""><a href="https://collection.torano.vn/hoangduc" title="TẾT CÓ QUÀ">TẾT CÓ QUÀ</a></li>

                                <li class=""><a href="https://collection.torano.vn/nmd-champion" title="CHAMPION">CHAMPION</a></li>

                            </ul>
                        </li>



                        <li class="has-submenu level1">
                            <a href="https://torano.vn/">2020  <span class="icon-plus-submenu plus-nClick2"></span></a>
                            <ul class="submenu-links">

                                <li class=""><a href="https://collection.torano.vn/kimly" title="CHOSEN BY KIM LY">CHOSEN BY KIM LY</a></li>

                                <li class=""><a href="https://collection.torano.vn/maschile" title="MASCHILE">MASCHILE</a></li>

                            </ul>
                        </li>


                    </ul>
                </li>



                <li class=""><a href="/pages/he-thong-cua-hang" title="Hệ thống cửa hàng"><span>Hệ thống cửa hàng</span></a></li>



                <li class=""><a href="/pages/tang-voucher-20-30" title="Ưu đãi"><span>Ưu đãi</span></a></li>


            </ul>
            </div>
        </div>
        <div class="sitenav-footer">
            <div class="mobile-menu__section mobile-menu__section--loose">
                <p class="mobile-menu__section-title">Bạn cần hỗ trợ?</p>
                <div class="mobile-menu__help-wrapper">
                    <i class="bi bi-telephone-fill"></i>
                    <a href="tel:0964942121" rel="nofollow">0964.942.121</a>
                </div>
                <div class="mobile-menu__help-wrapper">
                    <i class="bi bi-envelope-fill"></i>
                    <a href="mailto:cskh@torano.vn" rel="nofollow">cskh@torano.vn</a>
                </div>
            </div>
        </div>
    </div>
</div>