<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:custom="http://www.w3.org/1999/xhtml"
      lang="en" layout:decorate="admin-template"
>
<body>
<section layout:fragment="content" class="container-fluid h-100">
    <style>

        .tbl-container {
            max-width: 100%;
            max-height: fit-content;
        }

        .tbl-fixed {
            overflow-x: scroll;
            overflow-y: hidden;
            height: fit-content;
            max-height: 70vh;

            scrollbar-width: none;
        }

        .tbl-fixed::-webkit-scrollbar {
            display: none;
        }

        table {
            min-width: max-content;
        }
        table th {
            position: sticky;
            top: 0;
            background-color: white;
            z-index: 1;
        }

        .description {
            display: inline-block;
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .sticky-column {
            border-left: 1px solid #dee2e6;
            position: sticky;
            right: 0;
            background-color: white;
            z-index: 1;
        }
        .price-range-input {
            width: 100px;
        }

        /* Điều chỉnh size của input number */
        input[type="number"] {
            padding-right: 0;
        }

        /* Ẩn mũi tên tăng giảm của input number trên một số trình duyệt */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }

    </style>

    <form th:object="${filterDTO}" th:action="@{/admin/product/list}" method="post" class="d-none" id="filterForm">
        <input type="hidden" class="searchData" th:field="*{page}">
        <input type="hidden" class="searchData" th:field="*{orderBy}">
        <input type="hidden" class="searchData" th:field="*{direction}">
        <input type="hidden" class="searchData" th:field="*{size}">
        <input type="hidden" class="searchData" th:field="*{name}">
        <input type="hidden" class="searchData" th:field="*{description}">
        <input type="hidden" class="searchData" th:field="*{brandName}">
        <input type="hidden" class="searchData" th:field="*{thumbnail}">
        <input type="hidden" class="searchData" th:field="*{categoryName}">
        <input type="hidden" class="searchData" th:field="*{isActive}">
        <input type="hidden" class="searchData" th:field="*{priceOriginFrom}">
        <input type="hidden" class="searchData" th:field="*{priceOriginTo}">
        <input type="hidden" class="searchData" th:field="*{priceSaleFrom}">
        <input type="hidden" class="searchData" th:field="*{priceSaleTo}">
        <input type="hidden" class="searchData" th:field="*{createdAtFrom}">
        <input type="hidden" class="searchData" th:field="*{createdAtTo}">
        <input type="hidden" class="searchData" th:field="*{createdBy}">
        <input type="hidden" class="searchData" th:field="*{updatedAtFrom}">
        <input type="hidden" class="searchData" th:field="*{updatedAtTo}">
        <input type="hidden" class="searchData" th:field="*{updatedBy}">
    </form>

    <div class="d-flex flex-wrap justify-content-between align-items-center mt-3 gap-2">
        <h2 class="text-center flex-grow-1 text-md-start text-center">Danh sách Sản Phẩm</h2>

        <div class="d-flex align-items-center gap-2">
            <div class="input-group">
                <label class="input-group-text" for="sizeField">Hiển thị</label>
                <select class="form-select" id="sizeField" th:value="${filterDTO.size}">
                    <option value="5" th:selected="${filterDTO.size == 5}">5 kết quả/trang</option>
                    <option value="10" th:selected="${filterDTO.size == 10}">10 kết quả/trang</option>
                    <option value="20" th:selected="${filterDTO.size == 20}">20 kết quả/trang</option>
                    <option value="50" th:selected="${filterDTO.size == 50}">50 kết quả/trang</option>
                </select>
            </div>

        </div>

        <a th:href="@{/admin/product/add}" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Thêm mới
        </a>
    </div>

    <div class="container mt-4 tbl-container">
        <div class="row tbl-fixed">
            <table id="mainTable" class="table table-striped table-bordered" style="width:100%">
                <thead class="table-primary">
                <tr>
                    <th>STT</th>
                    <th th:each="field: ${fields}"
                        th:data="${field}"
                        style="cursor: pointer; width: fit-content;"
                    >
                        <span th:text="${fieldTitles[__${field}__]}"></span>
                        <i th:if="${filterDTO.orderBy} == ${field}"
                           th:class="${filterDTO.direction == 'ASC' ?
                           'bi bi-caret-up-fill' : 'bi bi-caret-down-fill'}"></i>
                    </th>
                    <th class="text-center sticky-column">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:object="${filterDTO}">
                    <td>

                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" th:value="*{name}" id="nameField" placeholder="Tên sản phẩm">
                    </td>
                    <td>
                        <div class="d-flex gap-2" style="max-width: 200px;">
                            <input type="number"
                                   class="form-control form-control-sm currency-input"
                                   custom:auto-id="*{priceOriginFrom}"
                                   th:attr="data-raw=*{priceOriginFrom}"
                                   id="priceOriginFromField"
                                   placeholder="Từ"
                                   min="0" style="max-width: 100px;">
                            <input type="number"
                                   class="form-control form-control-sm currency-input"
                                   custom:auto-id="*{priceOriginTo}"
                                   th:attr="data-raw=*{priceOriginTo}"
                                   id="priceOriginToField"
                                   placeholder="Đến"
                                   min="0" style="max-width: 100px;">
                        </div>
                    </td>
                    <td>
                        <div class="d-flex gap-2" style="max-width: 200px;">
                            <input type="text"
                                   class="form-control form-control-sm currency-input"
                                   custom:auto-id="*{priceSaleFrom}"
                                   th:attr="data-raw=*{priceSaleFrom}"
                                   placeholder="Từ" style="max-width: 100px;">
                            <input type="text"
                                   class="form-control form-control-sm currency-input"
                                   custom:auto-id="*{priceSaleTo}"
                                   th:attr="data-raw=*{priceSaleTo}"
                                   placeholder="Đến" style="max-width: 100px;">
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" th:value="*{brandName}" id="brandNameField" placeholder="Thương hiệu">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" th:value="*{categoryName}" id="categoryNameField" placeholder="Danh mục">
                    </td>
                    <td>
                        <select class="form-select form-select-sm" id="isActiveField" onchange="updateFilter()">
                            <option value="" th:selected="${filterDTO.isActive == ''}">Tất cả</option>
                            <option value="true" th:selected="${filterDTO.isActive == true}">Đang bán</option>
                            <option value="false" th:selected="${filterDTO.isActive == false}">Không bán</option>
                        </select>
                    </td>

                    <td class="text-center sticky-column">
                        <button type="submit" class="btn btn-primary btn-sm" id="btnSubmit">
                            <i class="bi bi-search"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm" onclick="resetField()">
                            <i class="bi bi-arrow-counterclockwise"></i>
                        </button>
                    </td>
                </tr>

                <tr th:if="${pages.totalPages > 0}" th:each="item, step : ${pages}">
                    <th:block th:replace="fragments/list-body :: list-body(${item}, ${fields}, ${fieldTitles}, ${fieldClasses}, ${pages.number * pages.size + step.index})"></th:block>
                    <td class="text-center sticky-column">
                        <a th:href="@{'/admin/product/' + ${item.id} + '/images'}"
                           class="btn btn-sm btn-success">
                            <i class="bi bi-image"></i>
                        </a>
                        <a th:href="@{'/admin/product/' + ${item.id} + '/variants'}"
                           class="btn btn-sm btn-info">
                            <i class="bi bi-box-seam"></i>
                        </a>
                        <a th:href="@{'/admin/product/edit/' + ${item.id}}"
                           class="btn btn-sm btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="btn btn-sm btn-danger" th:if="${item.isActive}"
                           th:attr="data-id=${item.id}, data-title=${item.name}"
                           onclick="confirmDeActive(this)">
                            <i class="bi bi-toggle-off"></i>
                        </a>
                        <a class="btn btn-sm btn-success" th:if="${!item.isActive}"
                           th:attr="data-id=${item.id}, data-title=${item.name}"
                           onclick="confirmActive(this)">
                            <i class="bi bi-toggle-on"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <th:block th:if="${pages.totalPages == 0}">
            <div class="alert alert-warning text-center mt-5">
                Không có bản ghi nào, thử <a href="javascript:void(0);" onclick="resetField()" class="alert-link"> đặt lại bộ lọc </a> hoặc thêm mới bản ghi
            </div>
        </th:block>
        <th:block th:if="${pages.totalPages > 0}">
            <div th:replace="fragments/pagination :: pagination(${pages})"></div>
        </th:block>
    </div>

   <script th:src="@{/js/filter.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <script>
        function confirmDeActive(e) {
            let id = e.getAttribute('data-id');
            let title = e.getAttribute('data-title');
            swal.fire({
                title: "Bạn có chắc chắn muốn ẩn sản phẩm này?",
                text: "Sản phẩm " + title + " sẽ không còn hiển thị trên trang web",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Hủy",
                dangerMode: true
            })
                .then((willDelete) => {
                    if (willDelete.isConfirmed) {
                        window.location.href = "/admin/product/deactive/" + id;
                    }
                });
        }
        function confirmActive(e) {
            let id = e.getAttribute('data-id');
            let title = e.getAttribute('data-title');
            swal.fire({
                title: "Bạn có chắc chắn muốn hiển thị sản phẩm này?",
                text: "Sản phẩm " + title + " sẽ hiển thị trên trang web",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Đồng ý",
                cancelButtonText: "Hủy",
                dangerMode: true
            })
                .then((willDelete) => {
                    if (willDelete.isConfirmed) {
                        window.location.href = "/admin/product/active/" + id;
                    }
                });
        }
    </script>


</section>
</body>
</html>
