<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="vi" layout:decorate="admin-template">

<body>
<section layout:fragment="content" class="container mt-4">
    <div class="row justify-content-center h-100">
        <div class="col-lg-8 d-flex flex-column nowrap justify-content-center">
            <form th:action="@{/admin/category/edit}" th:object="${categoryDTO}" method="post"
                  class="p-md-4 border rounded shadow-sm">
                <h4 class="text-center mb-5">Sửa thông tin danh mục</h4>

                <input type="hidden" th:field="*{id}">

                <div class="mb-3">
                    <div th:replace="fragments/input :: customInput ('name', 'text', 'bi-tag', 'Tên danh mục', true)"></div>
                </div>

                <div class="mb-3">
                    <textarea class="form-control" th:field="*{description}" rows="3" placeholder="Mô tả"></textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Danh mục cha</label>
                    <select class="form-select" th:field="*{parentId}" th:value="${categoryDTO.parentId}">
                        <option value="">Không có</option>
                        <option th:each="cat : ${categories}"
                                th:if="${categoryDTO.parentId != null}"
                                th:value="${cat.id}"
                                th:text="${cat.name}"
                                th:selected="${cat.id == categoryDTO.parentId}"
                        >
                        </option>
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-save"></i> Lưu thay đổi
                    </button>
                    <a th:href="@{/admin/category}" class="btn btn-secondary">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
